html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table
}

.categories {
    align-items: center;
    width: 100%;
}

.categories button {
    border: none;
    background-color: white;
    padding: 0;
    float: left;
    margin: 1% 2%;
}

.unselectedCategory {
    color: #283593;
}

.selectedCategory {
    color: grey;
}

.categories button:hover {
    color: grey;
}

.addButton {
    width: 100%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.addButton button{
    background-color: #283593;
    color: white;
    border: none;
}