<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/orders.css}"/>

    <title>Furniture Store</title>
</head>
<body>
    <nav class="navBar">
        <div class="navItems">
        <form th:action="@{/home}" method="POST" class="navButton">
            <div>
                <button type="submit">Home</button>
            </div>
        </form>
        <form th:action="@{/user/cart}" method="POST" sec:authorize="hasAuthority('USER')">
            <div>
                <button type="submit">Cart</button>
            </div>
        </form>
        <form th:action="@{/user/orders}" method="POST" sec:authorize="hasAuthority('USER')">
            <div>
                <button type="submit">My Orders</button>
            </div>
        </form>
        <form th:action="@{/admin/orders}" method="POST" sec:authorize="hasAuthority('ADMIN')">
            <div>
                <button type="submit">Orders</button>
            </div>
        </form>
        <form th:action="@{/logout}" method="POST" sec:authorize="hasAnyAuthority('USER','ADMIN')">
            <div>
                <button type="submit">Logout</button>
            </div>
        </form>
        </div>
    </nav><br>

    <div class="error" th:if="${orders == null}">No orders yet!!</div>
    <div class="orderList">
        <div th:each="temp : ${orders}" class="order">
            <h5 th:text="'Order Id: ' + ${temp.id}"/>
            <h5 th:text="'Customer Id: ' + ${temp.customer.id}" sec:authorize="hasAuthority('ADMIN')"/>
            <table>
                <tr>
                    <th th:text="Items"/>
                    <th th:text="Cost"/>
                </tr>
                <tbody th:each="item: ${temp.items}">
                    <tr>
                        <td th:text="${item.name}"/>
                        <td th:text="'Rs.' + ${item.cost} + '/-'"/>
                    </tr>
                </tbody>
            </table>
            <h4 th:text="'Total Cost : Rs. ' + ${temp.cost} + '/-'"/>
        </div>
    </div>
</body>
</html>